body{
    background-image: url("../../images/home_background.jpg");
    text-align: center;
}

nav a{
    display:inline-block;
    background: yellow;
    padding:10pt;
    font-size:30pt;
    color:black;
    text-decoration:none;
    font-weight: bold;
}

nav a:hover{
        background-color:blue;
}

nav a:center{
text-align: center;
}

nav a:visited{
    color: black;
}

#main{
    
    border: 4px inset;
    margin: 20px auto;
    text-align: left;
    width:  800px;
    background: rgb(230, 224, 224);
}

.image-student{

    float: left;
    width: 300px;
    height: 500px;
}

.infor{

    margin-top: 170px;
    margin-left: 30px;
    float: right;
    width: 470px;
    height: 330px;
    
}

#main{
    overflow: auto;
}